@use "../../styles/tokens.scss" as *;

.container {
  align-items: center;
  background: $color-primary-6 linear-gradient(to bottom, rgb(255 255 255 / 15%), transparent);
  color: rgb(255 255 255 / 80%);
  display: flex;
  justify-content: space-between;
  padding: $space-10 $space-16;
}

.logo {
  align-items: center;
  background: rgb(255 255 255 / 10%);
  display: inline-flex;
  height: 37px;
  justify-content: space-around;
  text-transform: uppercase;
  width: 300px;
}

.buttons {
  align-items: center;
  display: flex;

  & > * {
    margin-left: $space-12;
  }
}

/**
 * Links and actions
 */
.header-link {
  @include default-transition(color);

  color: rgb(255 255 255 / 80%);
  display: inline-block;
  font-weight: 500;
  margin-left: $space-8;
  padding: $space-6 $space-8;

  &:hover {
    color: #fff;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

/**
 * Sets the opacity of some kind of decoration around a header link (box shadow, background, etc)
 * using the --link-decoration-opacity property.
 */
@mixin header-link-with-decoration {
  --link-decoration-opacity: 10%;

  &:hover, &[aria-expanded="true"] {
    --link-decoration-opacity: 20%;
    color: white;
  }

  &:active {
    --link-decoration-opacity: 26%;
    color: white;
  }
}

/**
 * A version of the header link which has a filled semi-transparent background.
 */
.header-link-filled {
  @extend .header-link;
  @include header-link-with-decoration;

  background: rgb(255 255 255 / var(--link-decoration-opacity));
  border-radius: $rounded-full;
  display: inline-block;
  padding: $space-6 $space-14;
  transition-property: background, color;
}

/**
 * A version of the header link which has an outlined border.
 */
.header-link-outlined {
  @extend .header-link;
  @include header-link-with-decoration;

  border-radius: $rounded-full;
  box-shadow: inset 0 0 0 2px rgb(255 255 255 / var(--link-decoration-opacity));
  display: inline-block;
  padding: $space-6 $space-14;
  transition-property: box-shadow, color;
}

.grouped-actions {
  display: inline-flex;

  & > * {
    padding: $space-6 $space-14;

    &:first-of-type {
      border-radius: $rounded-full 0 0 $rounded-full;
      padding-right: $space-12;
    }

    &:last-of-type {
      border-radius: 0 $rounded-full $rounded-full 0;
      padding-left: $space-12;
    }
  }

  & > * + * {
    margin-left: 1px;
  }
}
