@use '../../../../styles/tokens' as *;

.sidebar {
  background: transparent;
  width: 220px;
}

.section {
  padding-bottom: 0.5rem;
}

.section-label {
  @include text-base;

  display: block;
  font-weight: 600;
  text-align: left;
  width: 100%;

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

// Common box properties for section buttons and items.
.section-label, .item {
  padding: 0.125rem 0.375rem;
}

// Class used to wrap all items with a section, or nested items within an item.
.nested-items {
  display: block;

  &:focus:not(:focus-visible) {
    outline: none;
  }

  & & {
    padding-left: 10px;
  }
}

// Clickable element for items labels.
.item {
  border-radius: 4px;
  display: block;
}

.active-item {
  background-color: $color-primary-5;
  color: #fff;
}

.bar {
  display: block;
  width: 100%;

  &::before {
    background: #ccc;
    content: " ";
    display: var(--bar-display, inline-block);
    height: 4px;
    margin-right: 0.25rem;
    width: max(0px, calc(var(--bar-width, 0%) - 3rem));
  }
}

.zero-bar {
  &::before {
    display: none;
  }
}
